h2 {
	font-size: 1.6em;
	color: white;
}
h1 {
	font-size: 2em;
	color: #ffffffb4;
}
p{
	color: white;
	font-size: 1.3em;
}
h4 {
	color: white;
	font-size: 1.4em;
}
li {
	color: #ffae00;
	font-size: 1.4em;
}

#fond {
	background-color : #070a2c;
	
}
#paneaux_left{
	width: 69%;
	height: 680px;
	float: right;
	margin-top: 1%;
 }

#title {
	width: 100%;
	height: 150px;
	float : left;
	background-color: #14146b;
	
}

#colone {
	width : 30%;
	height:1080px;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
}

#main {
	width: 100%;
	height: 920px;
	background-color: #1212df;
}

#main_2 {
	width: 98%;
	height: 100%;
	margin-left: 1%;
}
#diviseur{
	width: 1%;
	height: 1080px;
	background-color: black;
	margin-top: 1%;
}
#diviseur2 {
	width: 100%;
	height: 10px;
	float : left;
	background-color: #000000;
}


#drapeau{
	height: 20px;
	width: auto;
}

.right {
	float : right; 
}

.left {
	float : left;
}

.bleu{
	background-color: #06065e;
}